@charset "UTF-8";

#wrap {
	width:1200px;
	height:800px;
	margin:auto;
}

header > #logo {
	width:1200px;
	height:50px;
}

#logout-btn {
	background-color:#FAF4C0;
}

.box1 {
	width:500px;
	margin:auto;
}

.box2 {
	width:100px;
	margin:auto;
}

#box {
	margin:0;
}

#box-border {
  background-color: white;
  border: 2px solid #D5D5D5;
  padding:30px
}

#joinbtn {
	background-color:#7ED2FF;
}

#login-btn {
	background-color:#7ED2FF;
}

#facebook-login {
	color:#000CB7;
}

#img {
	width:600px;
	height:800px;
	
}

#content1 {
	width:800px;
	margin:auto;
}

#content2 {
	width:200px;
	margin:auto;
}

#content-border {
    background-color: white;
    border: 2px solid #D5D5D5;
    padding:30px
}

.mr-5 {
	margin-right: 50px;
}

.img-icon {
	font-size:30px;
}